@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #C2410C;
    color: #FAF7F2;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .link-underline {
    @apply relative;
  }
  
  .link-underline::after {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-[2px] bg-rust origin-left scale-x-0 transition-transform duration-300;
  }
  
  .link-underline:hover::after {
    @apply scale-x-100;
  }
}
